/*global class and styles*/

*:not(i) {
    font-family: Vazirmatn !important;
}

:root {
    --main-color: #208a86;
}

.text-color-main {
    color: var(--main-color) !important;
}

.bg-color-main {
    background-color: var(--main-color) !important;
}

.border-color-main {
    border-color: var(--main-color) !important;
}

.w-80 {
    width: 80% !important;
}

.ltr {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

.fs-55 {
    font-size: 1.1rem !important;
}

.fs-9 {
    font-size: 92%;
}

.fs-8 {
    font-size: 85%;
}

.bg-second {
    background: rgba(245, 245, 245, 0.62) !important;
}


button.main-hover:hover {
    background-color: #115b4b !important;
    color: white;
}

/*end global class and styles*/

/*header and footer*/
#main-menu .nav-link {
    border-bottom: 3px solid white !important;
}

#main-menu .nav-link:hover {
    font-weight: 600;
    border-bottom: 3px solid var(--main-color) !important;
}

.site-logo {
    font-size: 1.7rem !important;
}

@media screen and (max-width: 572px) {
    .site-logo {
        font-size: 2rem !important;
    }
}

.btn-hover:hover, #mobile-menu a:hover {
    background-color: var(--main-color) !important;
    color: white !important;
    border-color: var(--main-color);
}

/*end header and footer*/

/*lesson page*/
.sidebar-navigation-box > a.dropdown-toggle:after {
    border: none !important;
}

/*end lesson page*/


/*course page style*/
#course-title {
    min-height: 120px;
}

#course-info p {
    margin-bottom: 0 !important;
}

/*end course page style*/

/*home page*/
.course-item:hover{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15) !important
}
/*end home page*/

